.panel-content-filter .content-filter {
	background: #f8f8f8;
    font-size: 13px;
}

.panel-content-filter .content-filter .delete-filter {
	padding: 10px 30px;
    overflow: hidden;
}

.panel-content-filter .content-filter .delete-filter span {
	color: #2cc0d5;
    font-weight: bold;
    display: inline-block;
    text-align: right;
    outline: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    float: right;
}

.panel-content-filter .content-filter .content-filter-section {
	border-top: solid thin #e5e8ee;
    padding: 28px;
}

.panel-content-filter .content-filter .content-filter-section .title {
	color: #1b2f73;
    font-weight: bold;
    font-size: 16px;
	margin-bottom: 15px;
}

.panel-content-filter .content-filter .content-filter-section .range-text {
	margin-top: 15px;
}
