<div class="panel-content-filter col-md-3 col-lg-3 col-xl-3">
	<div class="col-sm-12">
		<div class="content-filter">
			<div class="delete-filter">
				<span>Borrar selección</span>
			</div>
			<div class="content-filter-section">
				<div class="title">Género</div>
				<div class="smart-form">
					<label class="checkbox">
						<input name="checkbox" type="checkbox"><i></i>Mujeres
					</label>
					<label class="checkbox">
						<input name="checkbox" type="checkbox"><i></i>Hombres
					</label>
				</div>
			</div>
			<div class="content-filter-section">
				<div class="title">Edad</div>
				<div class="smart-form">							
					<input 
						ionSlider 
						type="text" 
						data-min="0" 
						data-max="100" 
						data-from="18"
						data-to="70" 
						data-type="double" 
						data-step="1" 
						data-prefix="" 
						data-prettify="false"
						data-hasgrid="true">
						
					<div class="range-text">
						<div class="pull-left">
							<span>Mayor a <strong>18</strong></span>
						</div>
						<div class="pull-right">
							<span>Menor a <strong>100</strong></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>