<header>
	<div class="logo">
		<img src="./assets/img/brein_logo.png">
	</div>
</header>
<div class="content">
	<div class="auth">
		<div class="video-container landing hidden-xs">
			<iframe src="https://player.vimeo.com/video/267622657?background=1&amp;autoplay=1&amp;loop=1&amp;title=0&amp;byline=0&amp;portrait=0" frameborder="0" webkitallowfullscreen="true" mozallowfullscreen="true" allowfullscreen="true"></iframe>
		</div>
		<div class="video-overlay"></div>
		<div class="auth-container">
			<div class="cont-lema">
				<h1>
					¡Analiza tu data y toma mejores decisiones!
					<span>Conoce tus clientes</span>
				</h1>
			</div>
			<div class="row btns_login">
				<div class="col-lg-12">
					<div class="btn_bcp_content">
						<button class="btn" style="width: 216px;" routerLink="/home">Inicia sesión</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>