header {
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 29px 32px;
    -webkit-transition: all .6s,background-position 1ms linear;
    transition: all .6s,background-position 1ms linear;
}

header .logo {
	float: left;
    position: relative;
    width: 20%;
}

header .logo img {
	-webkit-transition: all .6s;
    transition: all .6s;
	width: 150px;
}

.content {
	overflow: hidden;
    position: relative;
    height: 100vh;
}

.auth .video-container iframe {
	position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 56.25vw;
    min-height: 100vh;
    min-width: 177.77vh;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.auth .video-overlay {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(27,47,115,0.7);
}

.auth .auth-container {
	width: 100%;
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    text-align: center;
    z-index: 2;
}

.auth .auth-container .cont-lema h1 {
	font-size: 28px;
    font-weight: bold;
    line-height: 1.65;
}

.auth .auth-container .cont-lema span {
	color: white;
    font-weight: normal;
    display: block;
    font-size: 24px;
}

.auth .auth-container .btns_login {
	padding-top: 70px;
}

.auth .auth-container .btns_login .btn {
	width: 216px;
    font-size: 18px;
    font-weight: bold;
    height: 40px;
    background: #a92532;
    border: 1px solid #a92532;
    padding-right: 16px;
    padding-left: 16px;
    border-radius: 20px;
    color: white;
    outline: 0;
}