<div class="negocio">

	<panel-content-header
		title="Mi Negocio"
		category="CENTROS COMERCIALES"
	></panel-content-header>
	
	<div class="row content-body">
		<panel-content-filter
			(onSelectFilter)="onSelectFilter()"
		></panel-content-filter>	
		
		<div class="col-md-9">
			<panel-card
				title="Distribución de la frecuencia de visita y consumos en un periodo de tiempo"
				[templateBody]="templateCardKpiConsumoVisita"
			></panel-card>
			
			<ng-template #templateCardKpiConsumoVisita>
				<div class="col-md-12">
					<div class="content-description">							
						<div>
							<p>Total de transacciones: <b>{{totales.transactions | number:'1.0-0'}}</b></p>
						</div>
					</div>
					<chart-js 
						type="bar"
						[data]="grafico" 
						[(render)]="reload.grafico"
						[options]="VIEW_CONSTANTS.GRAPH_OPTIONS"
					></chart-js>
				</div>
			</ng-template>
		</div>
	</div>
</div>