<div class="dashboard">

	<panel-content-header
		title="Hola Usuario DEMO"
		subTitle="Bienvenido a BREIN"
		category="CENTROS COMERCIALES"
	></panel-content-header>
	
	<div class="row content-body">
	
		<div class="col-md-6">
			<p class="text-left text_desc_favorite text-info">
				Haz clic en la <span class="icon_favorites">★
				</span> de cada indicador, si la información te resulta útil.
			</p>
		</div>
		
		<div class="col-md-6">
			<p class="text-right data-last-updated">Datos actualizados al {{today}} de Marzo del 2020</p>
		</div>
		
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-6">
					<panel-card
						title="Mi Negocio"
						[showFavorite]="true"
						pathShowMore="../../negocio"
						[templateBody]="templateCardMiNegocio"
					></panel-card>
					
					<ng-template #templateCardMiNegocio>
						<div class="col-md-6">
							<div class="block-mi-negocio">
								<p>
									<i class="fa fa-exchange"></i>Transacciones
								</p>
								<p>
									<i class="fa fa-money"></i>Monto total de ventas
								</p>
								<p>
									<i class="fa fa-code"></i>Transacción promedio
								</p>
							</div>
						</div>
						<div class="col-md-6">
							<div class="block-mi-negocio montos">
								<p><b>{{totales.transactions | number}}</b></p>
								<p><b>S/. {{totales.sales | currency:' '}}</b></p>
								<p *ngIf="!!totales.transactions"><b>S/. {{(totales.sales/totales.transactions) | currency:' '}}</b></p>
							</div>
						</div>
					</ng-template>
					
					<panel-card
						title="Género"
						[showFavorite]="true"
						[templateBody]="templateCardGenero"
					></panel-card>
					
					<ng-template #templateCardGenero>
						<div class="col-md-6">
							<div class="block-image"><img src="./assets/img/man.svg"></div>
							<div class="block-info"><strong *ngIf="totales.male+totales.female">{{100*totales.male/(totales.male+totales.female) | number:'1.0-0'}}%</strong><span>de tus visitantes son <strong>Hombres</strong></span></div>
						</div>
						<div class="col-md-6">
							<div class="block-image"><img src="./assets/img/woman.svg"></div>
							<div class="block-info"><strong *ngIf="totales.male+totales.female">{{100*totales.female/(totales.male+totales.female) | number:'1.0-0'}}%</strong><span>de tus visitantes son <strong>Mujeres</strong></span></div>
						</div>
					</ng-template>
					
					<panel-card
						title="Edad"
						[showFavorite]="true"
						[templateBody]="templateCardEdad"
					></panel-card>
					
					<ng-template #templateCardEdad>
						<div class="col-md-12">
							<div class="block-image">
								<img src="./assets/img/man.svg">&nbsp;
								<img src="./assets/img/woman.svg">
							</div>
							<div class="block-info" style="width: 141px">
								<strong *ngIf="totales.male+totales.female">{{100*totales.valMaxAge/(totales.male+totales.female) | number:'1.0-0'}}%</strong>
								<span>
									de tus visitantes tienen&nbsp;
									<strong>{{totales.keyMaxAge}} años</strong>
								</span>
							</div>
						</div>
					</ng-template>
				</div>
				<div class="col-md-6">				
					<panel-card
						title="Distribución de las ventas por periodo de tiempo"
						[showFavorite]="true"
						[templateBody]="templateCardKpiVentas"
					></panel-card>
					
					<ng-template #templateCardKpiVentas>
						<div class="col-md-12">
							<chart-js 
								type="bar"
								[data]="grafico" 
								[(render)]="reload.grafico"
								[options]="VIEW_CONSTANTS.GRAPH_OPTIONS"
							></chart-js>
						</div>
					</ng-template>
				</div>
			</div>
		</div>
		
	</div>
</div>