.dashboard {
	
}

.dashboard .content-body {
	background-color: #f8f8f8;
}

.dashboard .content-body .text_desc_favorite {
	font-size: 13px;
    margin: 16px 0 31px;
    padding: 0;
}

.dashboard .content-body .data-last-updated {
	font-size: 13px;
    margin: 16px 0 31px;
    padding: 0;
    color: #282828;
}

.dashboard .content-body .block-mi-negocio {
	display: inline-block;
    font-size: 13px;
    text-align: left;
}

.dashboard .content-body .block-mi-negocio .fa {
	font-size: 18px;
    color: #1b2f73;
    width: 24px;
}

.dashboard .content-body .block-image {
	display: inline-block;
    vertical-align: top;
    margin-left: 25px;
    margin-right: 12px;
}

.dashboard .content-body .block-image img {
    width: 31px;
}

.dashboard .content-body .block-info {
	display: inline-block;
    width: 52%;
    font-size: 13px;
    text-align: left;
}

.dashboard .content-body .block-info>strong {
    color: #0063bd;
    font-size: 36px;
    line-height: 1;
}

.dashboard .content-body .block-info span {
    display: block;
    color: #484848;
}