<section class="panel-card">
	<div class="header-section">
		<h4 class="col-md-{{(showFavorite || pathShowMore) ? 9 : 12}}">{{title}}</h4>
		<div class="kpi-favorites" *ngIf="!!showFavorite">								
			<div class="symbol-favorites" role="button" tabindex="0" style=""
				[class.active]="!!favorite"
				(click)="favorite=!favorite">★</div>
		</div>
		<a *ngIf="!!pathShowMore" class="pull-right btn bcp-btn-xs btn-secondary" [routerLink]="pathShowMore">Ver más</a>
	</div>
	<div class="body-section">
		<ng-template [ngTemplateOutlet]="templateBody"></ng-template>
	</div>
</section>