.panel-card {
	background-color: white;
    border-radius: 8px;
    -webkit-box-shadow: 0 0 1px 0 rgba(23,43,77,0.24);
    box-shadow: 0 0 1px 0 rgba(23,43,77,0.24);
	margin-bottom: 32px;
}

.panel-card .header-section {
	padding: 13px 31px;
    overflow: hidden;
    position: relative;
}

.panel-card .header-section h4 {
	margin: 0;
    font-size: 1.15em;
    color: #1b2f73;
    line-height: 1.5;
    padding-left: 0;
}

.panel-card .header-section .btn-secondary {
	background: white;
    border: solid thin #a92532;
    border-radius: 16px;
    color: #a92532;
    font-weight: bold;
    text-decoration: none;
	cursor: pointer;
    outline: 0;
    display: inline-block;
    padding: 4px 18px;
    font-size: 11px;
}

.panel-card .header-section .btn-secondary:hover {
    background: #a92532;
    color: white;
    border-color: #a92532;
}

.panel-card .header-section h4 {
	margin: 0;
    font-size: 1.15em;
    color: #1b2f73;
    line-height: 1.5;
    padding-left: 0;
	font-weight: bold;
}

.panel-card .header-section .symbol-favorites {
	position: absolute;
    right: 120px;
    top: 8px;
    font-size: 24px;
	color: #ccd6dd;
}

.panel-card .header-section .symbol-favorites:hover,
.panel-card .header-section .symbol-favorites.active {
    color: #a92532;
}

.panel-card .body-section {
	overflow: hidden;
    padding: 28px 31px 20px;
    border-top: 1px solid #d6dce9;
    text-align: center;
}

.panel-card+section {
	margin-top: 32px;
}