.view {
	
}

.view .content {
	height: 100vh !important;
}

.view .content .content-body {
	padding: 15px;
}

.view .content .content-description {
	background: #e8e8e8;
    width: 100%;
    padding: 15px 55px 15px 20px;
    top: -20px;
    position: relative;
    border-radius: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	text-align: left;
}

.view .content .content-description p {
	margin-bottom: 0;
}