/* You can add global styles to this file, and also import other style files */

a, body, h1, h2, h3, h4, h5, h6, p, ul {
    font-family: 'Muli', sans-serif!important;
}

body {
	background-image: none;
}

.text-info {
	color: #a92532;
}