<div class="panel-content-header">
	<div class="row">
		<div class="col-md-4">
			<h3 class="level-title">
				{{title}}<br>
				<span class="sub-title">{{subTitle}}</span>
				<p class="category">{{category}}</p>
			</h3>
		</div>
		<div class="col-md-8">
		</div>
	</div>
</div>