.panel-content-header {
	padding: 25px 0 20px;
    max-width: 1300px;
    margin: 0 auto;
}

.panel-content-header .level-title {
	color: #1b2f73;
    font-size: 24px;
    padding-left: 15px;
    margin-top: 15px;
	font-weight: bold;
}

.panel-content-header .sub-title {
	font-weight: 100;
    font-size: 19px;
}

.panel-content-header .category {
	margin-top: 6px;
    color: #a92532;
    font-size: 15px;
}