<div class="panel-nav col-md-2">
	<div class="logo">
		<img src="./assets/img/brein_logo.png">
	</div>
	<div class="nav-profile">
		<div class="profile-image">
			<span>UD</span>
		</div>
		<div class="cont-info-user">
			<h4>Centro comercial SAC</h4>
			<p>Usuario DEMO</p>
		</div>
		<div class="nav-logout" dropdown>
			<i class="fa fa-angle-down  dropdown-toggle" dropdownToggle></i>
			<ul *dropdownMenu class="dropdown-menu" role="menu">
				<li role="menuitem">
					<a routerLink="/">Cerrar Sesión</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="nav-menu">
		<ul>
			<li>
				<a routerLink="./dashboard" routerLinkActive="active"><i class="fa fa-list"></i> Dashboard</a>
			</li>
			<li>
				<a routerLink="./negocio" routerLinkActive="active"><i class="fa fa-building"></i> Mi Negocio</a>
			</li>
		</ul>
	</div>
</div>