.panel-nav {
	background-color: #1b2f73;
    color: white;
    height: 100vh;
    position: fixed;
    z-index: 300;
    padding: 0;
}

.panel-nav .logo  {
	padding: 25px 0;
    text-align: center;
}

.panel-nav .logo img {
	-webkit-transition: all .6s;
    transition: all .6s;
	width: 150px;
}

.panel-nav .nav-profile {
	padding: 20px 0;
    text-align: center;
}

.panel-nav .nav-profile .profile-image {
	width: 70px;
    height: 70px;
    line-height: 70px;
    margin: 0 auto 25px;
    border-radius: 50%;
    background-color: #3954b1;
}

.panel-nav .nav-profile .profile-image span {
    color: #a2b5d2;
    font-size: 30px;
}

.panel-nav .nav-profile .cont-info-user h4 {
    font-size: 16px;
	line-height: 18px;
    margin: 0;
	font-weight: bold;
}

.panel-nav .nav-profile .cont-info-user p {
	line-height: 25px;
    margin: 0;
}

.panel-nav .nav-profile .nav-logout {
    line-height: 12px;
    position: relative;
    cursor: pointer;
}

.panel-nav .nav-profile .nav-logout i {
	color: #a92532;
    font-size: 36px;
}

.panel-nav .nav-profile .nav-logout .dropdown-menu {
	left: 52px;
    border: 1px solid rgba(0,0,0,0.15);
    border-radius: 4px;
	font-size: 15px;
}

.panel-nav .nav-profile .nav-logout .dropdown-menu>li>a:hover {
    color: #262626;
    text-decoration: none;
    background-color: #f5f5f5;
}

.panel-nav .nav-menu {
    margin: 0;
    padding: 0;
    height: calc(100% - 360px);
	position: relative;
	left: -18px;
    width: calc(100% + 18px);
}

.panel-nav .nav-menu ul {
	padding-left: 19px;
}

.panel-nav .nav-menu ul li a {
    display: block;
    font-size: 18px;
    color: white;
    padding: 15px 15px 15px 20px;
    text-decoration: none;
    border-left: 4px solid transparent;
}

.panel-nav .nav-menu ul li a:hover {
    background-color: #142356;
    border-left: 4px solid #2cc0d5;
}

.panel-nav .nav-menu ul li a.active {
    background-color: #2cc0d5 !important;
}

.panel-nav .nav-menu ul li a i {
    width: 25px;
	text-align: center;
}